<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{css/main.css}">
	<script th:src="@{js/main.js}"></script>
	<title>Apolo Sport - Feminino</title>
</head>
<body>
	<h1>Apolo Sport</h1>
	<nav>
		<a th:href="@{/}">Home</a>
        <a th:href="@{/masculino}">Masculino</a>
        <a th:href="@{/feminino}">Feminino</a>
        <a th:href="@{/produto}">Cadastro Produtos</a>
        <a th:href="@{/produtos}">Produtos</a>
        <a th:href="@{/cliente}">Cadastro</a>
        <a th:href="@{/clientes}">Clientes</a>
    </nav>
    <div class="container">
    	<div class="cardProduto" th:each="pro : ${produtos}">
    		<a class="imgCard" th:href="'\\prod\\' + ${pro.idproduto}"><img th:src="'\\images\\' + ${pro.imagem_nome}"></img></a><br>
			<span th:text="${pro.nome}"></span><br>
			<span>R$:</span><span th:text="${pro.preco}"></span>						
		</div>
	</div>
</body>
</html>