<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script th:src="@{js/main.js}"></script>
	<title>Apolo Sport - Atualizar Produto</title>
</head>
<body>
	<h1>Apolo Sport</h1>
	<nav>
		<a th:href="@{/}">Home</a>
        <a th:href="@{/masculino}">Masculino</a>
        <a th:href="@{/feminino}">Feminino</a>
        <a th:href="@{/produto}">Cadastro Produtos</a>
        <a th:href="@{/produtos}">Produtos</a>
        <a th:href="@{/cliente}">Cadastro</a>
        <a th:href="@{/clientes}">Clientes</a>
    </nav>
	
	<form action="#" th:action="@{'/updi/' + ${idproduto}}" method=post th:object="${produto}" enctype="multipart/form-data">
		
		Nome:<div th:text="*{nome}"></div>
		Categoria: <div th:text="*{categoria}"></div>
		Valor:<div th:text="*{preco}"></div>
		<input type="file" name="file" accept="image/png, image/jpeg" />
		<input type="submit" value="Enviar">

	</form>
	<hr/>
	<table class="tabC">
		<thead class="tabHead">
			<tr class="tabInfo">
				<td>ID</td>
				<td>Nome do arquivo</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="img : ${imagens}">
				<td th:text="${img.idimagens}"></td>
				<td th:text="${img.imagem_nome}"></td>
				<td>
					<form th:action="@{'/apagar/' + ${img.idimagens}}" method=post>
						<input type="submit" value="Excluir">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>