<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{css/main.css}">
	<link rel="stylesheet" th:href="@{css/clientes.css}">
	<script th:src="@{js/main.js}"></script>

	<title>Apolo Sport - Lista Clientes</title>
</head>
<body>
	<h1>Apolo Sport</h1>
	<nav>
		<a th:href="@{/}">Home</a>
        <a th:href="@{/masculino}">Masculino</a>
        <a th:href="@{/feminino}">Feminino</a>
        <a th:href="@{/produto}">Cadastro Produtos</a>
        <a th:href="@{/produtos}">Produtos</a>
        <a th:href="@{/cliente}">Cadastro</a>
        <a th:href="@{/clientes}">Clientes</a>
    </nav>
	
	<table class="tabC">
		<thead class="tabHead">
			<tr class="tabInfo">
				<td>ID</td>
				<td>Nome</td>
				<td>CPF</td>
				<td>Editar Cliente</td>
				<td>Excluir Cliente</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cli : ${clientes}">
				<td th:text="${cli.id}"></td>
				<td><a  th:text="${cli.nome}" th:href="@{'perfil/'+ ${cli.id}}"></a></td>
				<td th:text="${cli.cpf}"></td>
				<td>
					<a th:href="@{'/upd/' + ${cli.id}}"> Editar 
					</a> 
				</td>
				<td>
					<form th:action="@{'apagar/cliente/' + ${cli.id}}" method=post>
						<input type="submit" value="Excluir">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>